force-app/main/default/flows/Acknowledge_Visitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Populate the text templates</description>
        <name>TextTemplates</name>
        <label>TextTemplates</label>
        <locationX>461</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>OnMyWayText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome {!firstName}! I&#39;m on my way to let you in.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MySecretaryIsComingText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome {!firstName}! My secretary is coming to let you in.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FiveMinutesLateText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Welcome {!firstName}! I&#39;m five minutes late but will soon be there to pick you up. My apologies.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_an_SMS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TextToSend</name>
        <label>TextToSend</label>
        <locationX>661</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>CustomTextToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Best /{!hostFirstName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>generate_PE</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CustomText</name>
        <choiceText>CustomTextChoice</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <constants>
        <name>CustomMessageTextLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Write your message to the waiting guest below</stringValue>
        </value>
    </constants>
    <constants>
        <name>Readytemplatedmessages</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select a templated message to send to the visitor</stringValue>
        </value>
    </constants>
    <interviewLabel>Acknowledge Visitor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acknowledge Visitor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>generate_PE</name>
        <label>generate PE</label>
        <locationX>476</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>SMS_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <elementReference>CustomTextToSend</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone_Number__c</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>send_SMSs__e</object>
    </recordCreates>
    <recordLookups>
        <name>getCurrentObject</name>
        <label>getCurrentObject</label>
        <locationX>288</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TextTemplates</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Guest__c</object>
        <outputAssignments>
            <assignToReference>firstName</assignToReference>
            <field>Firstname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>hostFirstName</assignToReference>
            <field>HostFirstName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>guestPhoneNumber</assignToReference>
            <field>Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Send_an_SMS</name>
        <label>Send an SMS</label>
        <locationX>669</locationX>
        <locationY>64</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TextToSend</targetReference>
        </connector>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>guestPhoneNumber</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Message</name>
            <extensionName>c:dynamicQuestionFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentQuestionLabel</name>
                <value>
                    <stringValue>Would you like to write a custom text message?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentQuestion_value</name>
                <value>
                    <elementReference>CustomText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_label</name>
                <value>
                    <elementReference>CustomMessageTextLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToYes</name>
                <value>
                    <stringValue>tf1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childComponentsLinkedToNo</name>
                <value>
                    <stringValue>r1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRadio1_label</name>
                <value>
                    <elementReference>Readytemplatedmessages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childTextField1_storage</name>
                <value>
                    <elementReference>CustomTextToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRadio1_optionsInputString</name>
                <value>
                    <stringValue>&quot;On my way&quot;:&quot;{!OnMyWayText}&quot;,&quot;My secretary is coming&quot;:&quot;{!MySecretaryIsComingText}&quot;,&quot;Five minutes late&quot;:&quot;{!FiveMinutesLateText}&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childRadio1_storage</name>
                <value>
                    <elementReference>CustomTextToSend</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>childCheckbox1_storage</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomTextToSend</assignToReference>
                <name>childTextField1_storage</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CustomTextToSend</assignToReference>
                <name>childRadio1_storage</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_has_been_sent</name>
        <label>SMS has been sent</label>
        <locationX>286</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messagesent</name>
            <fieldText>&quot;{!CustomTextToSend}&quot; sent to {!Phone_Number}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurrentObject</startElementReference>
    <status>Active</status>
    <variables>
        <name>CustomTextToSend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FiveMinutesLateText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>guestPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hostFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MySecretaryIsComingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OnMyWayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
