force-app/main/default/flows/Push_Notification_through_Platform_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Push Notification through Platform Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Push a notification through Platform Events</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>PE_Push_Notification</name>
        <label>PE Push Notification</label>
        <locationX>121</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>displayResult</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Type__c</field>
            <value>
                <stringValue>PushNotification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>userid__c</field>
            <value>
                <elementReference>userid</elementReference>
            </value>
        </inputAssignments>
        <object>push_Notification__e</object>
    </recordCreates>
    <recordLookups>
        <name>getObjectContent</name>
        <label>getObjectContent</label>
        <locationX>443</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWebUserRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Guest__c</object>
        <outputAssignments>
            <assignToReference>webuserid</assignToReference>
            <field>webuser__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWebUserRecord</name>
        <label>getWebUserRecord</label>
        <locationX>611</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sendNotification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>webuserid</elementReference>
            </value>
        </filters>
        <object>webusers__c</object>
        <outputAssignments>
            <assignToReference>pusherUserId</assignToReference>
            <field>userid__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>displayResult</name>
        <label>displayResult</label>
        <locationX>224</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText</name>
            <fieldText>The message was sent to the right person, and if demo gods are with us, he should have received it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sendNotification</name>
        <label>sendNotification</label>
        <locationX>492</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PE_Push_Notification</targetReference>
        </connector>
        <fields>
            <name>userid</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>pusherUserId</elementReference>
            </defaultValue>
            <fieldText>userid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getObjectContent</startElementReference>
    <status>Active</status>
    <variables>
        <name>pusherUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qsdadsqdq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>webuserid</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>webuserid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
