force-app/main/default/flows/send_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>send SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>generate_PE</name>
        <label>generate PE</label>
        <locationX>165</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>SMS_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone_Number__c</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <object>send_SMSs__e</object>
    </recordCreates>
    <recordLookups>
        <name>getCurrentObject</name>
        <label>getCurrentObject</label>
        <locationX>324</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_an_SMS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Guest__c</object>
        <outputAssignments>
            <assignToReference>guestPhoneNumber</assignToReference>
            <field>Phone_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Send_an_SMS</name>
        <label>Send an SMS</label>
        <locationX>180</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>generate_PE</targetReference>
        </connector>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>guestPhoneNumber</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message</name>
            <dataType>String</dataType>
            <fieldText>Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SMS_has_been_sent</name>
        <label>SMS has been sent</label>
        <locationX>165</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Messagesent</name>
            <fieldText>&quot;{!Message}&quot; sent to {!Phone_Number}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurrentObject</startElementReference>
    <status>Active</status>
    <variables>
        <name>guestPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
